<div class="col-xs-10 col-xs-offset-1 about">

  <h1>About Splurty</h1>

   <p>
    Splurty was built by George along with <a target="_blank" href="http://www.thefirehoseproject.com/">The firehose Project's </a> help.George wants to encourage more people to code and help to open the way to the future.

  </p>

  <br />


  <p>
    If you want to learn how to code like i did - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>


  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'george.f.jpg', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">George Fourikis</h2>
    <br />
    <p>
      George Fourikis is an electronics engineer,27 years old and he is from Greece,he studied at Technologican Educational Institute of Lamia for 4 years.His love for coding made him to be a part of (<a target="_blank" href="http://www.thefirehoseproject.com/">The Firehose Project.</a>) He has the dream of becoming a full-stack web developer,in order to achieve that,he drinks a lot of coffee,he studies a lot and he sleeps only a few hours a day!!So everyone reading this out there should chase their dreams and through knowledge grasp the opportunities.Work,Study and Luck to all.
    </p>
  

  </div>


</div>

<br class="clear" />
<br />
<br />
<br />
<br />